<div class="home-page">
  <div class="wrapper">
    <div class="logo">
      <%= image_tag 'logo-yutags.svg' %>
    </div>
    <div class="slogan">
      <h3>Finding your neighbourhood one word at a time</h3>
    </div>
    <!-- <div class="card-wrapper">

    <% link_to(city_path(City.find_by(name: "Montreal"))) do %>
      <div class="city-card" id="montreal">
        <div class="pic">
          <%= image_tag 'montreal.jpg' %>
        </div>
        <div class="title">
          <span>
            Montreal
          </span>
        </div>
      </div>
    <% end %>

    <script>

    </script>

      <div class="city-card">
        <div class="pic">
          <%= image_tag 'toronto.jpg' %>
        </div>
        <div class="title">
          <span>
            Toronto
          </span>
        </div>
      </div>

      <div class="city-card">
        <div class="pic">
          <%= image_tag 'vancouver.jpg' %>
        </div>
        <div class="title">
          <span>
            Vancouver
          </span>
        </div>
      </div>
    </div> -->

    <div class="search">
      <div id="input"></div>
          <%= form_tag results_index_path, method: :get do %>
            <%= text_field_tag :query, params[:query], id: "hiddenInput", autocomplete: "off" %>
          <% end %>
      </div>
    </div>
  <div>
<%= render(partial: 'home', handlers: [:erb], formats: [:js]) %>
</div>
