
<div class="city-tag-title"><h3><%= name %></h3></div>
<div class="line"></div>
<div class="scroll">
  <ol>
  <div class="city-tag-ranking">
    <% top.each do |tag| %>
      <div class="tag-list-container">
        <li>
          <%= tag[:name] %>
          <span class="badgey"><%= tag[:votes] %></span>
        </li>
      </div>
    <% end %>
  </div>
  </ol>
</div>

<div class='city-enter-tag'>
      <%= simple_form_for tag, action: :create, method: :post, remote: true do |f| %>
      <%= f.error_notification %>
      <div class="city-enter-tag-input">
        <%= f.input :content, autofocus: true, placeholder: 'Add your tag', label: false, error: "You must enter a tag"%>
        <%= f.hidden_field :name, value: name %>
        <%= f.hidden_field :district_index, value: district_index %>
        <%= f.hidden_field :district_id, value: District.find_by(name: name).id %>
      </div>
      <div class="form-actions">
        <a id="submit_button"><%= f.button :submit, "Submit" %></a>
      </div>
      <% end %>
      <center><div id="result"></div></center>

  </div>
