<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://unpkg.com/@turf/turf@3.5.2/turf.min.js"></script>


    <title>TODO</title>
    <%= include_gon(:init => true) %>
    <%= Gon::Base.render_data({}) %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!--[if IE]>
    <script type="text/javascript" src="lib/jszip-utils-ie.js"></script>
    <![endif]-->

    <script src="preprocess.js"></script>
    <script src="preview.js"></script>

  </head>
  <body>
    <!-- FIX THIS -->
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
